---
layout: default
---
<head>
    <style>
        .image-left {
            float: left;
            margin-right: 15px;
        }
    </style>
</head>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <body>
	<img src="/_images/emmabig.png"
        width = "290"
        class = "image-left">
<h3> Hi, I'm Emma—welcome to my website! </h3>

<p> Besides helping salamanders cross the road and blue lining for brook trout, I'm trying to build a career in helping people access good information and making good information accessible. I am currently accepting <a href = "/portfolio">graphic design commissions!</a></p>

<p> If you're interested in what I've been up to (and maybe musings for the future), check out the rest of this site I built using the navigation bar above. </p>
