---
layout: default
---
<head>
    <style>
        .image-left {
            float: left;
            margin-right: 15px;
        }
    </style>
</head>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <body>
	<img src="/_images/emmabig2.png"
        width = "340"
        class = "image-left">
<h3> <nobr>Hi, I'm Emma</nobr>—welcome to my website! </h3>

<p> I'm currently pursuing my Ph.D. in fungal biology at Cornell University, while trying to build a career in helping people access good information and making good information accessible. My <a href = "/portfolio">graphic design commissions</a> are open!</p>

<p> If you're interested in learning <a href = "/about">more about me</a> or <a href = "/cv">what I've been up to</a> (and maybe <a href = "/Blog">musings</a> for the future), check out the rest of this site I built using the navigation bar above. </p>
